.dropdown {
    margin: 5px;

    select {
        border: 1px solid $light-neutral;
        border-radius: 4px;
        padding: 8px;

        padding-right: 10px;
    }

    .label {
        font-size: 12px;
        font-weight: 400;
        opacity: 1;
        pointer-events: none;
        position: absolute;
        transform: translate3d(0, 22px, 0) scale(1);
        transform-origin: left top;
        transition: 240ms;
        line-height: 29px;
        top: -37px;
        left: 5px;
        z-index: 2;
        background-color: #FFFFFF;
        padding:0 10px;
    }
}